<!doctype html>
{% load static%}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="oldschool.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="{% static 'assets/css/tiny-slider.css'%}" rel="stylesheet">
		<link href="{% static 'assets/css/style.css'%}" rel="stylesheet">
		<!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

	    <title>Old School cars and service</title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="/">Old-School Cars<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item ">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="active"><a class="nav-link" href="/shop/">Shop</a></li>
						<li><a class="nav-link" href="/about/">About us</a></li>
						<li><a class="nav-link" href="services.html">Services</a></li>
						<li><a class="nav-link" href="contact.html">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="/userlogout/"><img src="{% static 'assets/images/userlogout.svg'%}"></a></li>
						<li><a class="nav-link" href="/cart/"><img src="{% static 'assets/images/cart.svg'%}"></a></li>
					</ul>
				</div>
			</div>

		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<a style="text-decoration: none;" href="/shop/"><h1>{{ products.category.name }}</h1></a><h4 style="color: white; font-size: 30px;">{{ products.name }}</h4>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{{ products.product_image.url }}" class="img-fluid">
							</div>
						</div>

					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<div class="untree_co-section  before-footer-section">
		    <div class="container product-section">
		      	<div class="row product_data">
					<div class="col-lg-2">
					    <h3>₹{{ products.price }} lakhs</h3>
					</div>
					<div class="col-lg-2">
					    {% if products.quantity > 0 %}
					       <label class="badge bg-success">In stock</label>
					    {% else %}
					       <label class="badge bg-danger">Out stock</label>
					    {% endif %}
					</div>
					<div class="row mt-4">
						{% csrf_token %}
						<input type="hidden" value="{{ products.id }}" class="prod_id">
						<div class="input-group align-items-center quantity-container">
							<div class="input-group-prepend">
                                <button class="btn btn-outline-black decrement" type="button">&minus;</button>
							</div>
							<div class="col-1 mx-2">
								<input type="text"  name="quantity" class="form-control text-center quantity-input" value="1" >
							</div>
							<div class="col-2 input-group-append">
                                <button class="btn btn-outline-black increment" type="button">&plus;</button>
							</div>
							<div class="col-3 ">
								{% if products.quantity > 0 %}
                           <button class="btn btn-primary btn-sm addToCartBtn">Add to Cart</button>
								{% endif %}
                        </div>
						</div>
					</div>
						<p style="width:600px; margin-top: 30px;">{{ products.description }}</p>
					</div>
				</div>
			</div>

		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

<!--				<div class="sofa-img">-->
<!--					<img src="{% static 'assets/images/carmainpage.png'%}" alt="Image" class="img-fluid">-->
<!--				</div>-->

				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img src="{% static 'assets/images/envelope-outline.svg'%}" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="Enter your name">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="Enter your email">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Old School Cars<span>.</span></a></div>
						<p class="mb-4">"Embark on a journey through time with our curated collection of timeless classics – where passion meets craftsmanship, and dreams find their four-wheeled reality."</p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Support</a></li>
									<li><a href="#">Services</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Our team</a></li>
									<li><a href="#">Our shops</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed by <a href="https://www.linkedin.com/in/mohammed-siyad-m-a-4a445416b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">ZIYAD MOHAMMED</a>
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->

        <script src="{% static 'assets/js/jquery-3.7.1.min.js'%}"></script>
		<script src="{% static 'assets/js/custom1.js'%}"></script>
		<script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
		<script src="{% static 'assets/js/tiny-slider.js'%}"></script>
	    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
	     <script>
			 alertify.set('notifier','position', 'top-right');
			 {% for msg in messages %}
         alertify.success('{{ msg }}');
			 {% endfor %}
         </script>

	</body>

</html>

